.services {
  background-color: #dadce0;
  padding-bottom: 25px;
}

.titleContainer {
  text-align: center;
}

.titleContainer h1 {
  font-family: var(--fontRobotoSlabLight900);
  font-weight: var(--fontWeight900);

  font-size: var(--fontSize70);
  font-weight: var(--fontWeight900);
  color: var(--primaryColor);
  text-transform: uppercase;
}
