.services {
  background-color: #dadce0;
  padding-bottom: 25px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("../../images/servicesImg/weld-1.png");
  background-size: cover;
  background-position: 15% 85%;
  height: 400px;
  margin-bottom: 20px;
}

.titleContainer h1 {
  font-family: var(--fontRobotoSlabLight900);
  font-weight: var(--fontWeight900);

  font-size: var(--fontSize70);
  font-weight: var(--fontWeight900);
  color: var(--lightColor);
  text-transform: uppercase;
}
