.aboutUsBox {
  /* background-image: url('../../images/avr_11.jpeg');
  background-size: cover; */

  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* border-radius: 10px;
  box-shadow: inset 0 -3em 5em hsla(0, 0%, 50%, 0.5), 0 0 0 3px #fff,
    0.5em 0.5em 1.5em hsla(0, 0%, 50%, 0.8); */

  background-color: #f7f2e9;
}

.aboutUsDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto auto 0;
  padding-left: 15px;
}
.aboutUsTitle {
  color: #edc84b;
  font-size: 50px;
  font-family: Roboto;
  text-decoration: underline wavy;
  text-decoration-color: #edc84b;
}

.aboutUsImgBox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45%;
}

.aboutUsImg {
  border-radius: 50%;
  width: 100%;
  padding-right: 35px;
}
.aboutUsBox p {
  font-size: 24px;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.aboutUsBtnBox {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
