.addressSection {
  margin-top: 30px;
}
.addressTitle div {
  color: #ce9233;
  border: 3px solid #ce9233;

  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  padding: 5px 20px;
}

.addressTitle h1 {
  font-size: 50px;
  line-height: 60px;
}

.addressTitle p {
  color: #797672;
}

.detailsBox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 20px;

  margin-top: 30px;
}
.phoneBox,
.emailBox,
.locationBox {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 20px;
}

.phoneBox div,
.emailBox div,
.locationBox div {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
}
