.projectSection {
  background-color: #ce9233;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 150px;

  padding: 120px 0 90px;
}

.projectSection p {
  color: white;
  font-size: 50px;
  font-weight: 900;

  text-transform: uppercase;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
}

.projectSection p:hover {
  color: black;
}

/* Modal  */

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 30%;
}
.closeBtn {
  margin-top: 15px;
}
