/* Header container */
.nav {
  /* background-color: #118ab2; */
  /* background-color: #00a8e8; */

  /* background-color: #659999; */
  background: linear-gradient(to left, #659999, #f4791f);

  /* border-bottom: 1px solid; */

  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

/* Logo container */
.logoBox {
  display: flex;
}
.logoLink {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 30px;
}

.logoImg {
  border-radius: 50%;
  margin: 10px 0 0 10px;
}
.logoTitle {
  font-size: 22px;
  color: #fff;
}

/* Navigation/ul container */
.listBox {
  padding-right: 15px;
}
.listBox ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  list-style: none;
}
.element a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;

  transition: all 0.3s ease-in-out;
}

.element a:hover {
  color: #118ab2;
  background-color: #f0f0f0;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  border-radius: 15px;
  padding: 10px 20px;
}

.element a.active {
  color: #3a3939;
  background-image: linear-gradient(to left, #fd5b4f, #188bc0);
  border-radius: 15px;
  padding: 10px 20px;

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 2px 4px#fff;
}

.noHover {
  pointer-events: none;
  cursor: default;
}

/* Mobile Menu */
.mobile {
  display: none;
}

.closeMobile {
  display: none;
}

/* Responsive */

@media (max-width: 1440px) and (min-width: 1000px) {
  .logoTitle,
  .element a {
    font-size: 16px;
  }
  list.box ul {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 999px) and (min-width: 856px) {
  .logoTitle,
  .element a {
    font-size: 12px;
  }
}
@media (max-width: 856px) and (min-width: 769px) {
  .logoTitle {
    font-size: 10px;
  }

  .element a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .listBox ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100vh;

    background-color: #0f172a;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);

    padding-top: 15px;
  }
  .element a {
    color: white;
  }
  .mobile {
    display: block;
  }
  .closeMobile {
    display: block;
    position: absolute;
    right: 0;
  }
  .hidden {
    display: none;
  }

  .logoTitle {
    font-size: 10px;
  }

  .logoImg {
    width: 100px;
    height: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .logoLink {
    gap: 10px;
  }
  .logoTitle {
    font-size: 8px;
  }

  .logoImg {
    width: 80px;
    height: 50px;
  }

  .listBox ul {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 319px) {
  .logoTitle {
    display: none;
  }
  .logoImg {
    width: 60px;
    height: 40px;
  }
  .listBox ul {
    height: 100%;
  }
}
