/* Header container */
.nav {
  background-color: white;

  border-bottom: 2px solid #c2bebe;

  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

/* Logo container */
.logoBox {
  display: flex;
}
.logoLink {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 30px;
}

.logoImg {
  border-radius: 50%;
  margin: 10px 0 0 10px;
}
.logoTitle {
  font-size: 22px;
  color: black;
}

/* Navigation/ul container */
.listBox {
  padding-right: 15px;
}
.listBox ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  list-style: none;
}
.element a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: black;

  transition: 0.3s ease-in-out;
}

.element a:hover {
  color: red;
  background-color: #f0f0f0;
  padding: 8px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.element a.active {
  color: #1d4ed8;
  text-decoration: underline;
}

.noHover {
  pointer-events: none;
  cursor: default;
}

/* Mobile Menu */
.mobile {
  display: none;
}

.closeMobile {
  display: none;
}

/* Responsive */

@media (max-width: 1200px) and (min-width: 1000px) {
  .logoTitle,
  .element a {
    font-size: 16px;
  }
}

@media (max-width: 999px) and (min-width: 856px) {
  .logoTitle,
  .element a {
    font-size: 12px;
  }
}
@media (max-width: 856px) and (min-width: 769px) {
  .logoTitle {
    font-size: 10px;
  }

  .element a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .listBox ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100vh;

    background-color: #0f172a;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);

    padding-top: 15px;
  }
  .element a {
    color: white;
  }
  .mobile {
    display: block;
  }
  .closeMobile {
    display: block;
    position: absolute;
    right: 0;
  }
  .hidden {
    display: none;
  }

  .logoTitle {
    font-size: 16px;
  }

  .logoImg {
    width: 100px;
    height: 75px;
    /* Aspect ratio 4:3 */
  }
}
