footer {
  background-color: #c2bebe;
  height: 100%;
  width: 100%;
}

.footerBox {
  display: flex;
  flex-direction: row;
}
.footerBox > div {
  flex: 1;
}

.footerDetails {
  text-align: center;
}

.footerAddress h3,
.footerContact h3 {
  text-decoration: underline;
  font-size: 20px;
}

.footerDetails address {
  font-style: normal;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.footerDetails address:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.footerAddress,
.footerContact {
  margin: 15px 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Navigation */

.footerNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 15px;
}
.footerNav h3 {
  text-decoration: underline;
  font-size: 20px;
}
.footerNav span {
  display: flex;
  flex-direction: column;

  gap: 5px;
  text-align: center;
  padding-top: 10px;

  /* width: max-content; */
}
.footerNav span a:hover {
  color: red;
  text-decoration: underline;
}

.link {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

/* Follow us */
.footerSocial {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
}
.footerSocial h3 {
  text-decoration: underline;
  font-size: 20px;
}
.footerSocial span {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}
.footerSocialIcon {
  color: black;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}

.footerSocialIcon:hover {
  cursor: pointer;
  color: blue;
  transform: scale(1.2);
}
/* Designed By */
.designedBy {
  margin: 0 0 10px 15px;
}

.designedBy p {
  text-align: center;
  padding-top: 5px;
}
.designedByText {
  font-size: 10px;
}

.designedByIcon {
  color: black;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-in-out;
}

.designedByIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: blue;
}

/* Responsive */

@media (max-width: 768px) {
  .footerAddress h3,
  .footerContact h3 {
    font-size: 16px;
  }
  .footerDetails address {
    font-size: 14px;
  }
  .footerNav h3 {
    font-size: 16px;
  }
  .link {
    font-size: 14px;
  }
  .footerSocial h3 {
    font-size: 16px;
  }
  .footerSocialIcon {
    width: 20px;
    height: 20px;
  }
  .designedByText {
    font-size: 8px;
  }
  .designedByIcon {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 375px) {
  .footerAddress h3,
  .footerContact h3 {
    font-size: 14px;
  }
  .footerDetails address {
    font-size: 12px;
  }
  .footerNav h3 {
    font-size: 14px;
  }

  .link {
    font-size: 12px;
  }
  .footerSocial h3 {
    font-size: 14px;
  }
  .footerSocialIcon {
    width: 15px;
    height: 15px;
  }
  .designedByText {
    font-size: 6px;
  }
  .designedByIcon {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 320px) {
  .footerAddress h3,
  .footerContact h3 {
    font-size: 12px;
  }
  .footerDetails address {
    font-size: 10px;
  }
  .footerNav h3 {
    font-size: 12px;
  }

  .link {
    font-size: 10px;
  }
  .footerSocial h3 {
    font-size: 12px;
  }
  .footerSocialIcon {
    width: 13px;
    height: 13px;
  }
  .designedByText {
    font-size: 5px;
  }
  .designedByIcon {
    width: 8px;
    height: 8px;
  }
}
