footer {
  background-color: #c2bebe;
  height: 100%;
}
.footerBox {
  display: flex;
  margin: 15px;
}

.footerDetails,
.footerNav {
  flex: 1;
}
.footerNav {
  max-width: 100%;
  flex: 1;
}

/* Adress & Contact Info */

.footerDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerAddress,
.footerContact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
.footerDetails h3 {
  font-size: 20px;
  text-decoration: underline;
}

address p {
  color: black;
  font-size: 15px;
  font-style: normal;
}

/* Navigation */

.footerNav {
  display: flex;
  gap: 10px;
  flex-direction: column;

  width: 300px;
}
.footerNav h3 {
  font-size: 20px;
  text-decoration: underline;
}
.link {
  color: black;
  font-size: 15px;
  padding-left: 23px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  width: 100px;
}

.link:hover {
  color: red;
  text-decoration: underline;
}

/* Follow us */

.footerSocial {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footerSocial h3 {
  font-size: 20px;
  text-decoration: underline;
}
.footerSocial span {
  display: flex;
  gap: 10px;
}

.footerSocialIcon {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}
.footerSocialIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: blue;
}

/* Designed By */
.designedBy {
  margin: 0 0 10px 15px;
}

.designedBy p {
  text-align: center;
}
.designedByText {
  font-size: 12px;
}

.designedByIcon {
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-in-out;
}

.designedByIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: blue;
}
