.welcomeSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 768px;
}
.welcomeSection::before,
.welcomeSection::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, #c4c4c4 300%),
    url('images/desktopImg/avr_11.jpg');
  background-size: cover;
  background-position: center;
}

.welcomeSection::before {
  filter: brightness(80%) contrast(110%) blur(5px);
}

.welcomeSection::after {
  /* top: 80%; */
  clip-path: inset(10% 10% 10% 10% round 40% 20%);
  filter: none;
}

.titleFirstPart h1 {
  color: white;
  font-size: 88px;
}

.titleSecondPart h1 {
  color: #f7d57f;
  font-size: 88px;
}

.text p {
  color: white;
  /* width: 1000px; */
  font-size: 30px;
}

/* Responsive */

@media (max-width: 1550px) {
  .titleFirstPart h1,
  .titleSecondPart h1 {
    font-size: 60px;
  }
  .text p {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 1300px) {
  .text p {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  .text p {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  .text {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .titleFirstPart h1,
  .titleSecondPart h1 {
    font-size: 40px;
  }
  .text {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .text {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .text {
    width: 350px;
    text-align: center;
  }
}
