.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* width: 1800px; */
  margin: 0 auto;
}

/* Mobile first */

/* @media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 320px) {
  .wrapper {
    width: 320px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
  }
} */

/* Desktiop first */
@media (min-width: 1441px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 320px;
  }
}
