.aboutUsBox {
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #f7f2e9;
}

.aboutUsDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto auto 0;
}

.aboutUsTitle {
  color: #edc84b;
  font-size: 50px;
  font-family: Kalnia;

  padding-left: 15px;
}

.aboutUsTitleBox {
  background-image: url('images/desktopImg/avr-8-D.jpg');
  background-size: cover;
  background-position: left 30% bottom 35%;

  height: 300px;
  width: 100%;
}

.aboutUsDetailsBox1,
.aboutUsDetailsBox2,
.aboutUsDetailsBox3,
.aboutUsDetailsBox4,
.aboutUsDetailsBox5 {
  border: 2px solid #757575;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;
  padding: 10px 0 10px 0;
  color: white;
  background-color: #757575;

  transition: all 0.5s ease-in-out;
}

.aboutUsDetailsBox1 p:hover,
.aboutUsDetailsBox2 p:hover,
.aboutUsDetailsBox3 p:hover,
.aboutUsDetailsBox4 p:hover,
.aboutUsDetailsBox5 p:hover {
  color: black;
}

.aboutUsDetails div h2 {
  color: rgb(108, 108, 248);
  transition: all 0.5s ease-in-out;
}

.aboutUsDetails div h2:hover {
  transform: scale(1.5);
}
/* Buttons */

.aboutUsBtnBox {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
